{% extends 'layout.html' %}
{% load static %}
{% block body_block %} 


<style>
   /* body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  } */
  .h-100{
    height: auto !important;
  }

 .nav-pills .nav-link.active {
    color: #fff;
    background-color: #0b831f;
}
.nav-link{
  color: #fff;
  /* background-color: #13c030; */

  margin-bottom: 10px;
}
.background{
  background-color:  #59ab6e;
}
#form {
  border: 2px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        max-width: 900px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px; /* Add margin to the bottom */
        padding-bottom: 20px; 
  }
  

</style>

<!-- <div class="tabs-verical m-5"> -->
    <div class="row" style="margin-left: 20px;">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="margin-top: 30px;">
          {% if roll == 'owner' %}
            <a class="nav-link active background py-4" id="v-pills-home-tab" data-toggle="pill" href="{% url 'turf_creation' %}" role="tab" aria-controls="v-pills-home" aria-selected="true" name="v-pills-home-tab">
                Turf Creation
            </a>
           
            <a class="nav-link background py-4" id="v-pills-profile-tab" data-toggle="pill" href="{% url 'turf_list' %}" role="tab" aria-controls="v-pills-profile" aria-selected="false" name="v-pills-profile-tab">
                Turf Listing
            </a>
          
          <a class="nav-link background py-4" id="v-pills-profile-tab" data-toggle="pill" href="{% url 'user_notification' %}" role="tab" aria-controls="v-pills-profile" aria-selected="false" name="v-pills-profile-tab">
            User Notification
        </a>
    {% endif %}
            <a class="nav-link background py-4" id="v-pills-messages-tab" data-toggle="pill" href="{% url 'change_password' %}" role="tab" aria-controls="v-pills-messages" aria-selected="false" name="v-pills-messages-tab">
                Change Password
            </a>
            <a class="nav-link background py-4" id="v-pills-settings-tab" data-toggle="pill" href="{% url 'logout' %}" role="tab" aria-controls="v-pills-settings" aria-selected="false" name="v-pills-settings-tab">
                Logout
            </a>
        </div>
    </div>


        <div class="col-9" id="form">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <!-- <div class="card-body p-4 p-md-5"> -->
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="margin-left: 230px; padding-top: 50px;">Change Password</h3>
              
            <form method="post" id="change_passwordform">
                {% csrf_token %}
  
                

  <!-- Password input -->
  <div class="container">
  <div class="row">
    <div class="form-outline mb-4">
      <input type="password" id="current_password" name="current_password" class="form-control" placeholder="Current password"  />
    </div>
  </div>

  <div class="row">
  <div class="form-outline mb-4">
    <input type="password" id="new_password" name="new_password" class="form-control" placeholder="New password"  />
  </div>
</div>

<div class="row">
    <div class="form-outline mb-4">
      <input type="password" id="confirm_new_password" name="confirm_new_password" class="form-control" placeholder="Confirm new password"  />
    </div>
  </div>

  <!-- Submit button -->
  <input type="button" class="btn btn-primary btn-block mb-4" id="submit" name="submit" value="submit" style="width: 100%;">
  <div id="result"></div>

 </div>
</form>

</div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {

      $('#change_passwordform').on('click','#submit' , function(event) {
            event.preventDefault();
            var csrfToken = $('[name=csrfmiddlewaretoken]').val();
            // var data = $(this).serialize(); // Serialize the form data
           
            // var current_password = $('#current_password').val();
            // var new_password = $('#new_password').val();
            // var confirm_new_password = $('#confirm_new_password').val();
            // var data = {current_password:$('#current_password').val(),new_password:$('#new_password').val(),confirm_new_password:$('#confirm_new_password').val(),csrfmiddlewaretoken:csrfToken};
            // console(data);
            // alert('confirm_new_password:', confirm_new_password);
            var data = {
                    current_password: $('#current_password').val(),
                    new_password: $('#new_password').val(),
                    confirm_new_password: $('#confirm_new_password').val(),
                    csrfmiddlewaretoken: csrfToken
                  };

                  
            
            // alert("hi");
            
            // var data = {
            //     current_password  : current_password ,
            //     new_password: new_password,
            //     confirm_new_password: confirm_new_password,
            //     csrfmiddlewaretoken: csrfToken
            //     };    


            function displayErrors(errors, index) {
    if (index < errors.length) {
        $('#result').text(errors[index]);

        setTimeout(function () {
            $('#result').text('');
            displayErrors(errors, index + 1);
        }, 5000); // Change the duration or handling as needed
    }
}

$.ajax({
    type: 'POST',
    url: '/success_changepassword/',  // Ensure this URL matches your Django URL configuration
    data: data,
    success: function(response) {
        $('#result').text(''); // Clear any previous messages

        if (response.errors) {
            displayErrors(response.errors, 0);
        } else if (response.message) {
            $('#result').text(response.message);
            // Redirect or perform other actions as needed
            // window.location.href = '{% url "myprofile" %}';
        }
    },
});
      });
    });
</script>     


{% endblock %}